In [ ]:
import DBcm

In [ ]:
config = {
    'host': '127.0.0.1',
    'database': 'leaderDB',
    'user': 'leader',
    'password': 'leaderpasswd',
}

In [ ]:
data = [
    ('Joe', 55 ),
    ('Julie', 120),
    ('Paddy', 3)
]
data

In [ ]:
SQL = "insert into scores (player, points) values ( %s, %s )"  # %s is a place-holder

In [ ]:
with DBcm.UseDatabase(config) as db:
    db.executemany(SQL, data)

In [ ]:
with DBcm.UseDatabase(config) as db:
    SQL = "select * from scores"
    db.execute(SQL)
    results = db.fetchall()

results

In [ ]:
with DBcm.UseDatabase(config) as db:
    SQL = "select player, points from scores"
    db.execute(SQL)
    results = db.fetchall()

results

In [ ]:
with DBcm.UseDatabase(config) as db:
    SQL = "select * from scores"
    db.execute(SQL)
    results = db.fetchall()

In [ ]:
results

In [ ]:
SQL = "insert into scores (player, points) values ('John', 50)"

In [ ]:
with DBcm.UseDatabase(config) as db:
    db.execute(SQL)

In [ ]:
type(results)

In [ ]:
results

In [ ]:
type(results[0])

In [ ]:
for row in results:
    print(row)